<div class="container-fluid wrapper">
    <section class="landing">
        <div class="row content">
            <div class="col-12 col-md-4">
                <div class="row">
                    <div class="col-12">
                        <span id="q" class="display-2">Q</span><br>
                        <span class="display-4 introducing" style="font-weight: bold;">
                            Introducing
                        </span> <br>
                        <h2>
                            A new way to be at peace
                        </h2> <br>
                        <p style="font-size: 22px;">One-stop platform to grow within ourselves, with loved ones and
                            create
                            impact</p>
                    </div>

                </div>

            </div>
            <div class="col-12 col-md- offset-md-2">
            </div>
        </div>

        <div class="row justify-content-center sign-up p-3">
            <div class="col-12 text-center">
                <div id="countdown">
                    <span class="display-3">{{ daysRemaining }}</span>
                    <span>Days</span> &nbsp;
                    <span class="display-3">{{ hoursRemaining }}</span>
                    <span>Hours</span> <br>
                </div>
                <p>Sign up to build the most passionate community to cause change for our BETA release!</p>
                <form class="form-inline mt-1" style="display: inherit;">
                    <input type="text" class="form-control" id="email" placeholder="Email Address" required [(ngModel)]="email" name="email"
                        #emailModel="ngModel">
                    <button type="submit" class="btn sign-up-button mt-1" (click)="addUser()">IMPACT</button>
                </form>
            </div>
        </div>
    </section>

    <section class="introduction">
        <div class="row justify-content-center p-4">
            <div class="col-12 col-md-3 text-center">
                <span class="display-2" id="title-Q">Q</span>
                <span class="display-2" id="title-rest">alki</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3 style="font-weight: bold;">
                    Be Curious. Be Heard. Be You.
                </h3>
            </div>
        </div>
        <div class="container card">
            <div class="row">
                <div class="col-12 text-center mb-4 mt-4">
                    <span style="font-size: 18px;">
                        Leverge the three most important qualities that make us human: curiosity, empathy and creativity
                    </span>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <img src="../assets/person.jpg" alt="" class="src" style="background: transparent;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Self-Respect
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <img src="../assets/leaf.jpg" alt="" class="src" style="background: transparent;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Self-Respect
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-12">
                            <img src="../assets/earth.jpg" alt="" class="src" style="background: transparent;">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Self-Respect
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="row text-center">
            <div class="col-12 col-md-3" *ngFor="let feature of features">
                <div class="row">
                    <div class="col">
                        <i [class]="feature.icon"></i> <br>
                        <p class="headline">{{ feature.headline }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ feature.description }}
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="be-curious">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 text-center section-title">
                <span class="display-4"> Be Curious </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-5">
                <img src="../assets/be_curious.png" alt="">
            </div>
            <div class="col-12 col-md-6 section-info">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Grow </h5>
                        <h3 class="card-title"> READ 2.0</h3>
                        <div class="card-text">
                            <ul>
                                <li>
                                    Build self-awareness by pondering upon the questions that matter the most.
                                </li>
                                <br>
                                <li>
                                    Step in shoes of great visioniaries as we dive into stories of hardships, success
                                    and
                                    much more.
                                </li>
                                <br>
                                <li>
                                    Use vulnerability as a strength by creating your own personal secure diary.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="quote">
        <h3>{{quote1}} </h3>
    </section>

    <section class="be-heard">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 text-center section-title">
                <span class="display-4"> Be Heard </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-7 section-info order-last order-md-first">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Quriosity </h5>
                        <h3 class="card-title"> WRITE 2.0</h3>
                        <div class="card-text">
                            <ul>
                                <li>
                                    Use your areas of expertise to remove boundaries while helping others across the globe.
                                </li>
                                <br>
                                <li>
                                    Get people thinking critically about the topics that matter by click of a button.
                                </li>
                                <br>
                                <li>
                                    Target your audience to make sure your efforts aren’t wasted.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 order-first order-md-last">
                <img src="../assets/be_heard.png" alt="">
            </div>

        </div>
    </section>

    <section class="quote-2">
        <h3>{{quote2}} </h3>
    </section>

    <section class="be-together">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 text-center section-title">
                <span class="display-4"> Be Together </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="../assets/be_together.png" alt="App buy book page"
                    style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
            </div>
            <div class="col-12 col-md-7 offset-md-1 section-info">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Impact </h5>
                        <h3 class="card-title"> LIBRARY 2.0</h3>
                        <div class="card-text">
                            <ul>
                                <li>
                                    Become a life coach by creatively sharing how you overcame hardships and tackled
                                    obstacles - inspire others.
                                </li>
                                <br>
                                <li>
                                    Dive into worlds other than your own, and live a thousand lifetimes at your comfort.
                                </li>
                                <br>
                                <li>
                                    We are all waiting to read your story!
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us">
        <div class="row justify-content-center">
            <div class="col-12">
                <h2 style="color: white;">Secure a place to try our BETA release!</h2>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-4">
                <div class="form">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Name" name="userName"
                                    [(ngModel)]="userName">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Email" name="email"
                                    [(ngModel)]="email">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <textarea type="text" class="form-control" placeholder="Note (Optional)" name="note"
                                [(ngModel)]="note"></textarea>
                        </div>
                        <button type="submit" class="btn"
                            style="background-color: #FFB300; padding: 3px 20px; color: white;"
                            (click)="addUser()">Submit</button>
                    </form>

                </div>

            </div>
        </div>
    </section>

    <footer>
        <div class="row justify-content-center">
            <div class="col-12 col-md-3 text-center social">
                <ul>
                    <li>
                        <a href="https://twitter.com/qalki" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Qalki-100370214987573/" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/qalki.official/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/qalki/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row copyrights justify-content-center">
            <div class="col-12 col-md-3 text-center">
                <p><i class="fas fa-copyright"></i> 2020 Qalki inc. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</div>